
/* --- main.css ------------------------------------------------
------------------------------------------------------------- */

/* --- 'box-sizing' -------------- */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* --- generales ----------------- */ 
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0; 
}
a {text-decoration: none;}
ul {list-style: none;}
button, input, select, textarea {margin: 0;}
img, embed, iframe, object, audio, video {height: auto; max-width: 100%;}
iframe {border: 0;}
table {border-collapse: collapse; border-spacing: 0;}
td, th {padding: 0; text-align: left;}

/* --- específicos --------------- */
body {
	background-image: url('../img/dark_matter.png');
	background-color: rgba(95,158,160, 1);
	background-blend-mode: luminosity;
	display: flex;
	flex-direction: column; /* row (por defecto) | row-reverse | column | column-reverse */
	justify-content: center;
	align-items: center;
}
main {
	width: 1000px;
	/* No definimos la propiedad 'height' para que crezca según demande */
	margin: 0 1em;
	padding: 0.8em;
	background-color: ghostwhite;
	font-family: Montserrat, sans-serif;
	font-size: 0.875em;
	font-weight: normal;
	color: gainsboro;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-o-border-radius: 1em;
	border-radius: 1em;
	-webkit-box-shadow: 0 0.250em 0.50em #222;
	-moz-box-shadow: 0 0.250em 0.50em #222;
	-o-box-shadow: 0 0.250em 0.50em #222;
	box-shadow: 0 0.250em 0.50em #222;
}
h1 { 
	width: 100%;
	padding: 1em 0 0.3em 0;
	font-family: Courgette, serif;
	color: cadetblue;
	font-size: 1.8em;
}
h3 {
	font-weight: 700; 
	padding: 1em 0 0.2em 0;
}
ul {
	width: 75%;
	text-align: left;
	list-style: circle; 
	padding-left: 2em;
}

/* --- paneles */
.panel {
	width: 100%;
	/* La altura no la definimos para que el contenedor crezca según lo necesite */
	margin: 0;
	padding: 0;
}
.panel__cabecera {
	margin: 0;
	margin-bottom: 1px;
	padding: 1em;
	background-color: rgba(95,158,160, 0.55);
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.panel:last-child > .panel__cabecera {margin-bottom: 0;}
.panel__cabecera:hover {color: #fff;}
.cabecera_activa {background-color: rgba(95,158,160, 1);}
.flip {
	width: 0.85em;
	opacity: 0.35;
}
.flip-abierto {
	transform: rotateX(180deg);
}
.panel__contenido {
	display: none;
	margin: 0;
	padding: 1em 1em 1em 2em;
	background-color: rgba(220,220,220, 0.4);
	color: cadetblue;
	text-align: justify;
}
.panel__contenido > a {
	font-weight: 700;
	text-decoration: underline;
	color: inherit;
}

/* --- créditos */
.creditos {
	position: absolute;
	z-index: 999;
	padding: 0;
	margin: 0; 
	right: 1.6em;
	bottom: 1em;
	font-family: Montserrat, sans-serif;
	font-size: 0.65em;
	color: gainsboro;
}
.creditos a {
	width: 100%;
	height: 100%;
	color: inherit;
}

/* --- media queries 
----------------- */

/* --- tablets */
/* --- ipad, ipad mini (1024 x 768) */
@media (min-width: 768px) and (orientation: portrait) {
	body {
		padding-top: 4em;
		align-items: flex-start;
	}
	main {width: 668px;}
}
@media (min-width: 1024px) and (orientation: landscape) {
	main {width: 850px;}
}
 --- Galaxy tab 2 y 3 (10.1 pulgadas) (1280 x 800) 
@media (min-width: 800px) and (orientation: portrait) {
	body {
		padding-top: 6em;
		align-items: flex-start;
	}
	main {width: 700px;}
}
@media (min-width: 1280px) and (orientation: landscape) {
	main {width: 850px;}
}









































