
/*--- main.css ---------------------------*/


/* aplicamos un 'box-model' natural para todos los 
elementos pero permitiendo que puedan cambiar */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

ul {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

	list-style: none;
}

li {
	width: 100%;
	height: 100%;
}


/* editamos el tamaño y posición inicial de las flechas */
#flecha-izquierda, #flecha-derecha {
	display: inline-block;
	position: absolute;

	z-index: 999;

	opacity: 0.6;
}

#flecha-izquierda {
	left: 30px;
	top: 46%;
}

#flecha-derecha {
	right: 30px;
	top: 46%;
}

.flechas img {
	width: 64px;
	height: auto;
}

/* editamos los creditos */
span.creditos {
	position: absolute;
	z-index: 998;

	padding: 0;
	margin: 0; 

	right: 12px;
	bottom: 8px;

	font-family: Lato, sans-serif;
	font-size: 0.7em;
	color: #bbb;
}

span.creditos a {
	width: 100%;
	height: 100%;

	text-decoration: none;
	color: inherit;
}

span.creditos a:hover {
	color: gold;
}












