
/* --- main.css ------------------------------------------------
------------------------------------------------------------- */

/* --- 'box-sizing' -------------- */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* --- generales ----------------- */ 
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0; 
}
a {text-decoration: none;}
ul {list-style: none;}
button, input, select, textarea {margin: 0;}
img, embed, iframe, object, audio, video {height: auto; max-width: 100%;}
iframe {border: 0;}
table {border-collapse: collapse; border-spacing: 0;}
td, th {padding: 0; text-align: left;}

/* --- específicos --------------- */
body {
	background-image: url('../img/dark_matter.png');
	background-color: rgba(95,158,160, 1);
	background-blend-mode: luminosity;
	display: flex;
	flex-direction: row; /* row (por defecto) | row-reverse | column | column-reverse */
	justify-content: center;
	align-items: center;
}
main {
	width: 900px;
	margin: 1em;
	padding: 1.8em;
	background-color: ghostwhite;
	font-family: Montserrat, sans-serif;
	font-size: 0.875em;
	font-weight: normal;
	color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-o-border-radius: 1em;
	border-radius: 1em;
	-webkit-box-shadow: 0 0.25em 0.5em #222;
	-moz-box-shadow: 0 0.25em 0.5em #222;
	-o-box-shadow: 0 0.25em 0.5em #222;
	box-shadow: 0 0.25em 0.5em #222;
}

/* --- contenido */
.contenido {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: justify;
}
h1 { 
	width: 100%;
	padding: 0 0 0.4em 0;
	font-family: Courgette, serif;
	color: cadetblue;
	font-size: 3em;
}
.contenido a {
	text-decoration: underline;
	font-weight: 700;
	color: inherit;
}

/* --- tooltip */
.tooltip {
	display: none;
	position: absolute;
	background-color: rgba(0,0,0, 0.9);
	border-radius: 0.25em;
	padding: 0.8em;
	color: #fff;
	font-family: Montserrat, sans-serif;
	font-size: 0.9em;
}

/* --- créditos */
.creditos {
	position: absolute;
	z-index: 999;
	padding: 0;
	margin: 0; 
	right: 1.6em;
	bottom: 1em;
	font-family: Montserrat, sans-serif;
	font-size: 0.65em;
	color: gainsboro;
}
.creditos a {
	width: 100%;
	height: 100%;
	color: inherit;
}









































